@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

/* HEADER */
header{
    width: 100%;
    margin:  0 auto;
    padding: 10vh 3vw;
    color: white;
    background: url(./../images/pexels-suzy-hazelwood-1098515.jpg) no-repeat center center ;
    background-size: cover;
}

header a, header a:hover, header a:active, header a:visited {
    color: white;
}

header a:hover{
    background-color: rgba(0, 123, 255, 0.5);
    transition: background-color ease-in-out 1s;
}

nav{
    padding-bottom: 3vh;
}

h1, header p, #result-city h3{
    text-align: center;
}

header p{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.1em;
}

h1, h2, h3{
    font-family: 'Merriweather', serif;
}

hr{
    border: 1px solid white;
    width: 50%;
}

.content{
    margin: auto;
    width: 50%;
    padding: 5vh 2vw;
}

#result-city{
    padding: 4vh 1vw;
}

#result-city h3{
    color: #007bff;
}

.bold{
    font-weight: bold;
}

.code-result{
    word-wrap: break-word;
}