header{
    width: 100%;
    margin:  0 auto;
    padding: 10vh 3vw;
    color: white;
    background: no-repeat url(./../images/pexels-suzy-hazelwood-1098515.jpg) ;
}

header a, header a:hover, header a:active, header a:visited {
    color: white;
}

header a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    /*padding: 0.5em;*/
    transition: background-color ease-in-out 1s;
}

nav{
    padding-bottom: 3vh;
}

h1, header p{
    text-align: center;
}

.content{
    margin: auto;
    width: 70%;
    padding: 5vh 2vw;
}

#rsuelt-city{
    padding: 2vh 1vw;
    background-color: rgba(0, 0, 0, 0.3);
}